.footer{
    width:100%;
    height:o.5rem;
    text-align: center;
    line-height:0.5rem;

}
.footer span{
    font-size:0.16rem;
   padding-right:0.2rem;
}
.ant-input-affix-wrapper .ant-input-suffix{
    top:0.30rem;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.center_ul li{
    width:49%;
    height:0.8rem;
    background:red;
    float: left;
    margin: 0.01rem;

}
